{% extends "papp/layout.html" %}
{% block content  %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<form name="frmSearch" method="GET" action="loginProces">
<!-- 1. 분류제목 -->
<div class="row p-1">
    <div class="col-sm-12 text-center">
      <h2 for="f_title">온라인 주제별 키워드 검색 ( 빈도수 분석기 - 차트/분석표 )</h2>
    </div>
</div>
<!--2. 분류제목 -->
<div class="form-group row p-1">
  <div class="col-sm-2 text-right"></div>
  <div class="col-sm-2 text-right">
      <select class="form-control" id="selClass" name="selClass" style="width: 150px;">
        <option value="#">검색매체선택</option>
        <option value="정치">정치</option>
        <option value="경제">경제</option>
        <option value="문화">문화</option>
      </select>
  </div>
  <div class="col-sm-2 text-right">
    <select class="form-control" id="selChart" name="selChart" style="width: 150px;">
      <option value="bar">바차트</option>
      <option value="line">라인차트</option>
      <option value="radar">레이다</option>
      <option value="pie">파이차트</option>
      <option value="polarArea">폴라에어리어</option>
      <option value="doughnut">도넛</option>
    </select>
  </div>
  <div class="col-sm-4 text-left"><input required="required" type="text"  class="form-control" id="txtColname" name="txtColname" placeholder="데이터가 저장될 컬레션이름을 써주세요" name="txtColname">
  </div>
  <div class="col-sm-2 text-left"><button type="button" class="btn btn-primary" onclick="doAjax(this.form,'selClass', 'txtColname')">검색</button>
  </div>
</div>
</form>


<div class="row p-1 text-center">
    <div class="col-sm-12 text-center">
    <br/><h3>- 조회목록 - </h3>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th>순위</th>
          <th>키워드</th>
          <th>빈도수</th>
        </tr>
      </thead>
      <tbody id="tbos">
      </tbody>
    </table>  
    </div>
</div>


<div class="row p-1 text-center">
  <div class="col-sm-12">
    <!-- 파이그래프 시작 -->
       <tbody id="tbos2">
        <tr><td>
        <div id="chartid" style="width: 100%; text-align: center; ">
          <canvas id="pie-chart"></canvas>
        </div>
      </td></tr>  
    </tbody>

    <!-- 파이그래프 끝 -->
    </div>
</div>



<script>
  // 셀렉트 선택시 kClass변수에 드롭다운값을 할당
  kClass_v = null;

  // 검색버튼을 누루면 내용을 서버에 전송
  function doAjax(pFrm, kClass, txtColname){
    alert($('#selClass').val());
    alert($('#txtColname').val());

    $.ajax({
      url:"http://192.168.0.55:8000/papp/message2/",
      type: "GET",
      data: {
        'selClass': $('#selClass').val(), 
        'txtColname': $('#txtColname').val(), 
      },
      dataType: 'json',
      contentType: "application/x-www-form-urlencoded; charset=UTF-8",
      dataType: "text",
      
      success:function(data){
        // 데이터 청결화
        for(i=0; i<10; i++){
          data = data.replace("[", '').replace("[", '').replace(" ", '').replace("]", '').replace("]", '')
        }
        data = data.split(',');
        tbos = $("#tbos");
        $("#tbos tr").remove();
        j = 1;
        alert(tbos)

        // 그래프
        labels_ = []   // 라벨
        data_ = []   // 값
        j = 0
        for(i=0; i<data.length; i=i+2){
          labels_[j] = data[i];
          data_[j] = data[i+1];
          tbos.append("<tr><td>"+ (j+1) +"</td><td>"+ data[i] +"</td><td>"+ data[i+1] +"</td></tr>");
          j++;
          // alert(data[i]);alert(data[i+1]);
        }

        // alert(labels_.length);
        // 그래프 설정
        var config = {
          type: $("#selChart").val(),
          data: {
            datasets: [{
              data: data_,
              backgroundColor: [
              'red', 'gold', 'green', 'blue', 'orange','#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3' 
              ],
              label: "검색결과"
            }],
            labels: labels_
          },
          options: {
            responsive: true
          }
        };
        // 
        var ctx = document.getElementById('pie-chart').getContext('2d');
        // ctx=차트출력, config=차트설정
        new Chart(ctx, config).update();
      }
    });
  }
</script>
{% endblock %}